In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('COVID-19-cases-brazil-states.csv')

In [13]:
df.shape

(18214, 26)

In [14]:
df.head()

,epi_week,date,country,state,city,newDeaths,deaths,newCases,totalCases,deathsMS,...,tests,tests_per_100k_inhabitants,vaccinated,vaccinated_per_100_inhabitants,vaccinated_second,vaccinated_second_per_100_inhabitants,vaccinated_single,vaccinated_single_per_100_inhabitants,vaccinated_third,vaccinated_third_per_100_inhabitants
0,9,2020-02-25,Brazil,SP,TOTAL,0,0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9,2020-02-25,Brazil,TOTAL,TOTAL,0,0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9,2020-02-26,Brazil,SP,TOTAL,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9,2020-02-26,Brazil,TOTAL,TOTAL,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9,2020-02-27,Brazil,SP,TOTAL,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.tail()

,epi_week,date,country,state,city,newDeaths,deaths,newCases,totalCases,deathsMS,...,tests,tests_per_100k_inhabitants,vaccinated,vaccinated_per_100_inhabitants,vaccinated_second,vaccinated_second_per_100_inhabitants,vaccinated_single,vaccinated_single_per_100_inhabitants,vaccinated_third,vaccinated_third_per_100_inhabitants
18209,151,2021-12-22,Brazil,SC,TOTAL,0,20135,0,1238751,20135,...,2568392.0,35847.42493,5776792.0,80.62754,4833654.0,67.46402,260762.0,3.63949,577890.0,8.06570
18210,151,2021-12-22,Brazil,SE,TOTAL,0,6056,0,278439,6056,...,604183.0,26283.72782,1736819.0,75.55671,1493990.0,64.99294,40125.0,1.74555,201941.0,8.78502
18211,151,2021-12-22,Brazil,SP,TOTAL,0,155008,0,4450144,155008,...,19501783.0,42469.91918,38244847.0,83.28754,35240521.0,76.74488,1184742.0,2.58007,8649974.0,18.83744
18212,151,2021-12-22,Brazil,TO,TOTAL,0,3927,0,234113,3927,...,721136.0,45848.53382,1054924.0,67.07018,799151.0,50.80859,34337.0,2.18308,81992.0,5.21290
18213,151,2021-12-22,Brazil,TOTAL,TOTAL,0,618213,0,22223849,617948,...,65497639.0,30704.27711,160667831.0,75.31859,137114385.0,64.27710,4917755.0,2.30537,23983696.0,11.24318

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18214 entries, 0 to 18213
Data columns (total 26 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   epi_week                               18214 non-null  int64
 1   date                                   18214 non-null  object
 2   country                                18214 non-null  object
 3   state                                  18214 non-null  object
 4   city                                   18214 non-null  object
 5   newDeaths                              18214 non-null  int64
 6   deaths                                 18214 non-null  int64
 7   newCases                               18214 non-null  int64
 8   totalCases                             18214 non-null  int64
 9   deathsMS                               18214 non-null  int64
 10  totalCasesMS                           18214 non-null  int64
 11  deaths_per_100k_inhabitants            18214 non-null  float64
 12  totalCases_per_100k_inhabitants        18214 non-null  float64
 13  deaths_by_totalCases                   18214 non-null  float64
 14  recovered                              17571 non-null  float64
 15  suspects                               15670 non-null  float64
 16  tests                                  16870 non-null  float64
 17  tests_per_100k_inhabitants             16870 non-null  float64
 18  vaccinated                             9483 non-null   float64
 19  vaccinated_per_100_inhabitants         9483 non-null   float64
 20  vaccinated_second                      8803 non-null   float64
 21  vaccinated_second_per_100_inhabitants  8803 non-null   float64
 22  vaccinated_single                      4904 non-null   float64
 23  vaccinated_single_per_100_inhabitants  4904 non-null   float64
 24  vaccinated_third                       2644 non-null   float64
 25  vaccinated_third_per_100_inhabitants   2644 non-null   float64
dtypes: float64(15), int64(7), object(4)
memory usage: 3.6+ MB

In [17]:
df.describe()

,epi_week,newDeaths,deaths,newCases,totalCases,deathsMS,totalCasesMS,deaths_per_100k_inhabitants,totalCases_per_100k_inhabitants,deaths_by_totalCases,...,tests,tests_per_100k_inhabitants,vaccinated,vaccinated_per_100_inhabitants,vaccinated_second,vaccinated_second_per_100_inhabitants,vaccinated_single,vaccinated_single_per_100_inhabitants,vaccinated_third,vaccinated_third_per_100_inhabitants
count,18214.000000,18214.000000,18214.000000,18214.000000,1.821400e+04,18214.000000,1.821400e+04,18214.000000,18214.000000,18214.000000,...,1.687000e+04,16870.000000,9.483000e+03,9483.000000,8.803000e+03,8803.000000,4.904000e+03,4904.000000,2.644000e+03,2644.000000
mean,83.179862,67.883277,20985.524871,2440.304052,7.577081e+05,20968.180081,7.572061e+05,139.679631,6008.136497,0.027113,...,2.471468e+06,17370.449627,5.846245e+06,36.603967,3.630527e+06,21.859811,3.169071e+05,2.074352,7.441309e+05,4.088762
std,48.497703,237.478655,69351.207298,8023.097762,2.485051e+06,69307.904988,2.483917e+06,108.867446,4880.167066,0.015480,...,7.715284e+06,12785.681620,1.912853e+07,27.038985,1.295275e+07,19.789805,8.368133e+05,1.367852,2.444886e+06,3.686722
min,9.000000,-38.000000,0.000000,-1582.000000,1.000000e+00,0.000000,0.000000e+00,0.000000,0.000470,0.000000,...,8.540000e+02,36.761660,2.000000e+00,0.000010,1.000000e+00,0.000000,3.500000e+01,0.000080,1.000000e+00,0.000000
25%,34.000000,4.000000,1607.250000,180.000000,7.484775e+04,1602.000000,7.466675e+04,53.017747,1877.835388,0.019940,...,2.348860e+05,7011.514450,3.613510e+05,10.540770,1.896750e+05,6.244625,4.052550e+04,1.525600,2.935800e+04,1.012410
50%,105.000000,13.000000,5371.000000,608.000000,2.208180e+05,5354.000000,2.204165e+05,111.274410,4996.232780,0.024210,...,6.696960e+05,15299.998920,1.402720e+06,34.899400,7.114060e+05,13.486320,9.778850e+04,1.789880,1.574875e+05,3.302505
75%,128.000000,37.000000,12852.750000,1534.000000,4.969495e+05,12825.500000,4.956315e+05,218.820755,9735.046620,0.028650,...,1.517052e+06,25938.589870,3.830004e+06,63.367930,2.094742e+06,36.986520,2.480438e+05,2.293748,4.221105e+05,6.409280
max,151.000000,4148.000000,618213.000000,124878.000000,2.222385e+07,617948.000000,2.221948e+07,402.787690,21260.199980,0.222220,...,6.549764e+07,62512.006080,1.606678e+08,83.287540,1.371144e+08,76.744880,4.947888e+06,9.438550,2.398370e+07,21.478840

In [18]:
df.describe(include='object')

              date country  state   city
count        18214   18214  18214  18214
unique         667       1     28      1
top     2021-10-14  Brazil  TOTAL  TOTAL
freq            28   18214    667  18214

In [19]:
from pandas_profiling import ProfileReport

In [20]:
relatorio_completo = ProfileReport(df, title='Relatorio Completo Covid19')
relatorio_completo.to_file('relatorio_completo_covid19.html')

Summarize dataset:   0%|          | 0/40 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]